<h2>Редактирование аккаунта</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email, 'Электронная почта' %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :name, 'Имя' %><br>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <p>
      Текущие роли:
      <% @account.roles.each do |role| %>
        <li>
          <%= role.role_name %>
        </li>
      <% end %>
    </p>
  </div>

  <div class="edit-account-field">
    <label for="account_role">Новая роль:</label>
    <div class="role-checkbox-list">
      <% Role.all.each do |role| %>
        <div class="role-checkbox">
          <%= f.check_box :role_ids, { multiple: true }, role.id, nil %>
          <%= label_tag "account_role_#{role.id}", role.role_name %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="field">
    <p>
      Текущий отдел: <%= @account.department&.department_name || 'Не назначен' %>
    </p>
  </div>
  <div class="edit-account-field">
    <label for="account_department">Новый отдел:</label>
    <div class="department-radio-list">
      <% Department.all.each do |department| %>
        <div class="department-radio">
          <%= f.radio_button :department_id, department.id %>
          <%= label_tag "account_department_#{department.id}", department.department_name %>
        </div>
      <% end %>
    </div>
  </div>


  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password, 'Новый пароль' %> <i>(Оставьте пустым, если не хотите <b>менять пароль</b>)</i><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <em>Пароль должен содержать <b> минимум <%= @minimum_password_length %> символов </b></em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, 'Подтверждение нового пароля' %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :current_password, 'Текущий пароль' %> <i>(введите ваш текущий пароль для применения внесённых измененйи)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Принять" %>
  </div>
<% end %>
<br>
<div><%= button_to "Удалить этот аккаунт", registration_path(resource_name), data: { confirm: "УДАЛИТЬ ЭТОТ АККАУНТ!?", turbo_confirm: "УДАЛИТЬ ЭТОТ АККАУНТ!?" }, method: :delete %></div>

<%= link_to "Назад", :back %>
