<h2>Регистрация нового аккаунта</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email, 'Электронная почта' %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :name, 'Имя' %><br>
    <%= f.text_field :name %>
  </div>

  <div class="edit-account-field">
    <label for="account_role">Роль:</label>
    <div class="role-checkbox-list">
      <% Role.all.each do |role| %>
        <div class="role-checkbox">
          <%= f.check_box :role_ids, { multiple: true }, role.id, nil %>
          <%= label_tag "account_role_#{role.id}", role.role_name %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="edit-account-field">
    <label for="account_department">Отдел:</label>
    <div class="department-radio-list">
      <% Department.all.each do |department| %>
        <div class="department-radio">
          <%= f.radio_button :department_id, department.id %>
          <%= label_tag "account_department_#{department.id}", department.department_name %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="field">
    <%= f.label :password, 'Пароль' %>
    <% if @minimum_password_length %>
    <em>(Минимум <%= @minimum_password_length %> символов)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, 'Подтверждение пароля' %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Зарегистрировать" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
