<div class="secure_record_form_edit">
    <%= link_to 'Назад', secure_records_path %>
  <%= form_with model: @secure_record do |f| %>

    <%= f.label :login, 'Логин' %>
    <%= f.text_field :login %>

    Текущий пароль:<%= @secure_record.password %>
    <%= f.label :password, 'Новый пароль' %>
    <%= f.password_field :password %>

    <%= f.label :resource, 'Ресурс' %>
    <%= f.text_field :resource %>

    <%= f.label :comment, 'Комментарий' %>
    <%= f.text_field :comment, value: @secure_record.comment %>

    <%= f.submit 'Обновить' %>

  <% end %>

    <%= button_to 'Удалить', secure_record_path(@secure_record), data: { confirm: 'Вы уверены?' }, method: :delete %>
</div>