<div class="edit_form_wrapper">
  <% if @role.name != "Администратор" %>
    <%= form_with model: @role do |f| %>

      <%= f.label :role_name, 'Название роли' %>
      <%= f.text_field :role_name, value: @role.name, require: true %>

      <div class="actions">
        <%= button_to 'Удалить роль', role_path(@role), method: :delete, class: 'btn btn-danger' %>
        <%= link_to 'Назад', roles_path, class: 'btn btn-primary' %>
      </div>
    <% end %>
  <% elsif @role.name == "Администратор" %>
    <p>Нельзя редактировать роль "Администратор"</p>
  <% end %>
</div>