<h1>Информация о роли</h1>

<p>Название роли: <%= @role.name %></p>
<br>
<p>Аккаунты с данной ролью: </p>
<p>Кол-во пользователей: <%= @role.accounts.count %></p>
<ul>
  <% @role.accounts.each do |account| %>
    <li><%= account.name %> :: <%= account.email %> :: <%= account.department.name %></li>
  <% end %>
</ul>

<%= link_to "Назад", roles_path %>
