<div class="navbar_wrapper">

  <div class="profile_info">
    <% if account_signed_in? %>
      <span>Профиль: <%= current_account.name %></span>
      <span>Роль: <%= current_account.role.name %></span>
      <% if account_signed_in? %>
        <span class="nav-item"><%= link_to "Редактировать профиль", edit_account_registration_path %></span>
        <span class="nav-item"><%= link_to "Создать безопасную запись", new_secure_record_path %></span>
        <span class="nav-item"><%= link_to 'Все записи', secure_records_path %></span>
        <span class="nav-item"><%= link_to 'Создать заметку', new_note_path %></span>
        <span class="nav-item"><%= link_to 'Заметки', notes_path %></span>
        <span class="nav-item"><%= button_to 'Выход', destroy_account_session_path, method: :delete, data: { confirm: "Вы уверены, что хотите выйти?" } %></span>
      <% else %>
        <span><%= link_to "Войти", new_account_session_path %></span>
      <% end %>
    <% end %>
  </div>

  <div class="navbar">
    <% if account_signed_in? && current_account.admin? %>
        <span class="nav-item">
          <%= link_to 'Список аккаунтов', accounts_path %>
        </span>
      <span class="nav-item">
          <%= link_to 'Создать аккаунт', new_account_registration_path %>
        </span>
      <span class="nav-item">
          <%= link_to 'Список ролей', roles_path %>
      </span>
      <span class="nav-item">
          <%= link_to 'Создать роль', new_role_path %>
        </span>
      <span class="nav-item">
          <%= link_to 'Список отделов', departments_path %>
      </span>
      <span class="nav-item">
          <%= link_to 'Создать отдел', new_department_path %>
      </span>
    <% end %>
  </div>
</div>