<p>Редактирование данных акканута : <%= @account.name %></p>

<%= form_for @account, url: account_path(@account), method: :patch do |f| %>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.email_field :email %>
  </div>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <p>
      Текущие роли:
      <% @account.roles.each do |role| %>
        <li>
          <%= role.role_name %>
        </li>
      <% end %>
    </p>
  </div>

  <div class="edit-account-field">
    <label for="account_role">Новая роль:</label>
    <div class="role-checkbox-list">
      <% Role.all.each do |role| %>
        <div class="role-checkbox">
          <%= f.check_box :role_ids, { multiple: true }, role.id, nil %>
          <%= label_tag "account_role_#{role.id}", role.role_name %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="field">
    <%= f.label :department, 'Отдел' %><br>
    <%= f.collection_select :department_id, Department.all, :id, :department_name %>
  </div>

  <div class="actions">
    <%= f.submit 'Обновить аккаунт' %>
  </div>
<% end %>