<h3>Список аккаунтов</h3>
<div class="accounts-list-wrapper">
  <span>Кол-во аккаунтов: <%= Account.all.count %></span>
  <% if @all_accounts.any? %>
    <table class="accounts-table table table-dark table-striped table-hover">
      <tr>
        <th>ID</th>
        <th>Имя</th>
        <th>Отдел</th>
        <th>Роль</th>
        <th>Действия</th>
      </tr>
      <% @all_accounts.each do |account| %>
        <tr>
          <td><%= account.id %></td>
          <td><%= account.name %></td>
          <td><%= account.department.name %></td>
          <td><%= account.role.name %></td>
          <td><%= link_to 'Инфо', account_path(account) %>
            | <%= link_to 'Редактировать', edit_account_path(account) %></td>
        </tr>
      <% end %>
    </table>
    </div>
  <% else %>
    <p>Аккаунты не найдены (╯°□°）╯︵ ┻━┻</p>
  <% end %>
