<% if current_account.department_access.include? @account.department.id %>
  <h3>Информация об аккаунте</h3>
  <div class="account_show">
    <span><b>ID:</b> <%= @account.id %></span>
    <span><b>Email:</b> <%= @account.email %></span>
    <span><b>Имя:</b> <%= @account.name %></span>
    <span><b>Роль:</b> <%= @account.role.name %></span>
    <span><b>Отдел:</b> <%= @account.department.name %></span>
    <span><b>Доступ к записям отделов:</b> <%= @account_department_access %></span>
    <span><b>Создан:</b> <%= @account.created_at.strftime("%d.%m.%Y %H:%M") %></span>
    <span><b>Изменён:</b> <%= @account.updated_at.strftime("%d.%m.%Y %H:%M") %></span>
  </div>
<% else %>
  У вас нет доступа к этой странице.
<% end %>
