<p>ID: <%= @account.id %></p>
<p>Имя: <%= @account.name %></p>
<p>Роль: <%= @account.role %></p>
<p>Отдел: <%= @account.department %></p>
<p>Создан: <%= @account.created_at %></p>
<p>Изменён: <%= @account.updated_at %></p>
