<p>ID: <%= @account.id %></p>
<p>Email: <%= @account.email %></p>
<p>Имя: <%= @account.name %></p>
<p>Роль: <%= @account.role.name %></p>
<p>Отдел: <%= @account.department.name %></p>
<p>Доступ к записям отделов: <%= @account_department_access %></p>
<p>Создан: <%= @account.created_at %></p>
<p>Изменён: <%= @account.updated_at %></p>